#main{
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
h1{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
    font-size: 15px;
    padding-bottom: 3px;
    display: flex;
}
span{
    color: red;
}
label{
    margin-bottom: 10px;
    width:25%;
}
div{
    display:flex;
    padding-bottom: 5px;
}




