@charset "UTF-8";
/* enlève toutes les marges et les espaces fait par le navigateur qui sont des valeurs par défaut*/
body{margin: 0; padding: 0;}

#main {
	display: flex;
	flex-wrap: wrap;
    height: 400px;
}
header{
    width:100%;
    background:green;

}
header:hover{
    background-color: grey;
}
h1{
    text-align:center;
}
#topnav{
    /*position:fixed;*/

}
aside{
    width: 20%;
    background: yellow;


}
#droite{
    order: 1;
}
section{
    width: 60%;
    order: 2;
    background: blue;
    text-align: center;
}
#gauche{
    order: 3;
}
#mosaic{
    flex-direction: column;
    flex-wrap: wrap;
    height:500px;
    align-items: center;
    display: flex;
}
footer{
    width:100%;
    order:4;
    background:pink;
    height: 40px;
}