/* style pour toutes les pages des documents */
body{
    font-family:georgia, serif;
}
h1{
    border: 1px solid black;
    text-align: center;
    color:blue;
}
h2{
    color:red;
}
li{
    letter-spacing:1px;
}
.metier{
    color:purple;
    font-weight:bold;
}

#Intro{
    text-transform: uppercase;
    color:green;
    font-weight:bold;
}
