/* style pour toutes les pages des documents */
body{
    font-family:georgia, serif;
}
h1{
    border: 1px solid black;
    text-align: center;
    color:blue;
}
h2{
    color:red;
}
.metier{
    color:purple;
    font-weight:bold;
}
#imageWeb{
    float:left;
}