body {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    font: 1.0em Arial, Helvetica, sans-serif;
}
h1{
    border: 5px solid olivedrab;
    text-align:center;
}
img{
	/*grandeur de l'image hauteur et largeur */
    width: 150px; 
    height:150px;
}
#box {
    border-radius: 5px;  /* bordure arrondie */
    background-color: rgb(207,232,220);
    wdith:150px;
    height:150px;
    float:left;
    padding-right:15px;
    padding-left:15px;
    margin-right:20px;

}
#box2 {
    border-radius: 5px; /* bordure arrondie */
    background-color: rgb(207,232,220);
    width:150px;
    height:150px;
    float:right;
    margin-left:20px;
    padding-left:15px;
    padding-right:15px;

}
.texteDroit{
    text-align:right;
}
